# 基础配置
REPO_PATH=""

# AI 模型配置
AI_PROVIDER=""
AI_BASE_URL=""
AI_API_KEY=""
AI_MODEL=""

# 飞书通知配置
LARK_ENABLED="false"
LARK_WEBHOOK=""
LARK_APP_ID=""
LARK_APP_SECRET=""
LARK_CHAT_ID=""

# 企业微信通知
WECOM_ENABLED="false"
WECOM_WEBHOOK=""

# 邮件通知配置
EMAIL_ENABLED="false"
EMAIL_SMTP_HOST=""
EMAIL_SMTP_USER=""
EMAIL_SMTP_PASS=""
EMAIL_FROM=""
EMAIL_SECURE="true"
EMAIL_SMTP_PORT=""
EMAIL_REQUIRE_TLS=""
EMAIL_IGNORE_TLS=""
EMAIL_TLS_SERVERNAME=""
EMAIL_TLS_REJECT_UNAUTHORIZED="true"
